{% macro input_field(field) %}
{{ field(class_="form-control")|safe }}
{% if field.errors %}
{% for error in field.errors %}
{{ error }}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro floating_field(field) %}
    <div class="form-floating mb-3">
        {{ field(class_="form-control")|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ field.label }}
    </div>
{% endmacro %}

{% macro check_field(field) %}
        {{ field.label(class_="form-check-label") }}
        {{ field(class_="form-check-input")|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
{% endmacro %}

{% macro select_field(field) %}
    <div class="form-floating mb-3">
        {{ field(class_="form-select")|safe }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ field.label }}
    </div>
{% endmacro %}

{% macro datify(longdate) %}
    {% if longdate == None %}
        {{ None }}
    {% else %}
        {{ longdate.strftime('%m-%d-%Y') }}
    {% endif %}
{% endmacro %}

{% macro hidden_field(field, data) %}
    <div>
        {{ field(class_="form-control", value_=data)|safe }}
    </div>
{% endmacro %}
