{% macro nav_item(endpoint, name, active) %}
<li class="nav-item">
    <a class="nav-link {{ active }}" href="{{ url_for(endpoint) }}">
        {{ name }}
    </a>
</li>
{% endmacro %}

{% macro nav_link(name, endpoint, li_classes="", a_classes="") %} 
        <li class="nav-item pb-2 pt-2 {{li_classes}}">
            {% if request.endpoint and request.endpoint.endswith(endpoint) %} 
                <a class="nav-link active {{a_classes}}" href="{{ url_for(endpoint) }}">
                    {{name}}
                </a>
            {% else %} 
                <a class="nav-link {{a_classes}}" href="{{ url_for(endpoint) }}">
                    {{name}}
                </a> 
            {% endif %} 
        </li> 
{% endmacro %}
