{% extends 'base.html' %}
{% from "_formhelper.html" import input_field, select_field, check_field, floating_field, datify %}
{% block content %}
<h1>Add Stipend</h1>
<form method="post">
    <div class="row g-3">
        <div class="col">
            {{ floating_field(form.intention) }}
        </div>
        <div class="col">
            {{ check_field(form.dead) }}
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            {{ floating_field(form.requester) }}
        </div>
        <div class="col">
            {{ floating_field(form.priest_asked) }}
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            {{ floating_field(form.amount) }}
        </div>
        <div class="col">
            {{ floating_field(form.masses) }}
        </div>
        <div class="col">
            {{ select_field(form.origin) }}
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            {{ floating_field(form.submitted) }}
        </div>
        <div class="col">
            {{ floating_field(form.req_date) }}
        </div>
    </div>
    <p>
    <input class="btn btn-primary" type="submit" value="Add to Database">
    </p>
</form>
<h3>Stipend Queue | <a href ="{{ url_for('edit_stipends') }}" class="btn btn-primary link">Edit</a></h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Intention</th>
            <th>By</th>
            <th>Priest</th>
            <th>Submitted</th>
            <th>Requested</th>
            <th>$</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        {% for stipend in stipends %}
        <tr>
            <td>
                {% if stipend.intention|length >= 25 %} 
                {% if stipend.dead is sameas True %}†{% endif %}{{ stipend.intention[0:22] }}...
                {% else %}
                {% if stipend.dead is sameas True %}†{% endif %}{{ stipend.intention }}
                {% endif %}
            </td>
            <td>{{ stipend.requester }}</td>
            <td>{{ stipend.priest }}</td>
            <td>{{ datify(stipend.accepted) }}</td> 
            <td>{{ datify(stipend.req_date) }}</td>
            <td>${{ stipend.amount }}</td>
            <td>{{ stipend.masses }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
