{% extends 'base.html' %}
{% block content %}
<div class="containter">
    <!--
    <div class="row">
        <div class="col border p-2" style="height: 3rem;">Sunday</div>
        <div class="col border p-2" style="height: 3rem;">Monday</div>
        <div class="col border p-2" style="height: 3rem;">Tuesday</div>
        <div class="col border p-2" style="height: 3rem;">Wednesday</div>
        <div class="col border p-2" style="height: 3rem;">Thursday</div>
        <div class="col border p-2" style="height: 3rem;">Friday</div>
        <div class="col border p-2" style="height: 3rem;">Saturday</div>
    </div>
    -->
    {% for row in calendar %}
    <div class="row">
        {% for col in row %}
        {% if col[0]|length %}
        <div class="col border p-3 mx-1 my-1 rounded shadow-sm bg-white {{ col[1] }}" style="height: 20rem;">
            <div class="border-bottom text-center">
                {{ col[0] }}
            </div>
            <div class="rounded bg-info px-1 my-1">
                {% for event in events %}
                    {% if event[-1] is defined and value is sameas col[0] %}
                        {{ event[0][1] }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col p-3 mx-1 my-1 rounded bg-white" style="height: 20rem;">
            <div class="">
                {{ col[0] }}
            </div>
            <div class="">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
