{% extends 'base.html' %}
{% from '_formhelper.html' import datify %}
{% block content %}
<h1>Printer</h1>
<a href="{{url_for('download_pdf', target='brooksville', num='target')}}">
    <!--
    <button class='btn btn-outline-primary btn-lg'>Download for Brooksville</button>
    -->
    <code>
        I have disabled this for now, but soon we will be able to print
        everything as a CSV or excel sheet, which means I can preserve the
        database before updating.

        It was working, but with so many changes, I don't want to waste time on
        this.
    </code>
</a>
{% endblock %}
