{% extends 'base.html'%}
{% from "_formhelper.html" import input_field, select_field, floating_field %}
{% block content %}
<h2>Mass Center</h2>
<form method="post">
    <div class="row g-3">
        <div class="col">
            {{ floating_field(center_form.name) }}
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            {{ floating_field(center_form.address) }}
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            {{ floating_field(center_form.city) }}
        </div>
        <div class="col">
            {{ floating_field(center_form.state) }}
        </div>
        <div class="col">
            {{ floating_field(center_form.country) }}
        </div>
    </div>
    <p>
    <input class="btn btn-primary" type="submit" value="Submit">
    </p>
</form>
<h2>Priest</h2>
<form method="post">
    <div class="row g-3">
        <div class="col">
            {{ select_field(priest_form.rank) }} 
        </div>
        <div class="col">
            {{ floating_field(priest_form.firstname) }} 
        </div>
        <div class="col">
            {{ floating_field(priest_form.lastname) }} 
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            {{ select_field(priest_form.center) }} 
        </div>
    </div>
    <p>
    <input class="btn btn-primary" type="submit" value="Submit">
    </p>
</form>
<h3>Backup</h3>
<a href="{{url_for('download_db')}}">
    <button class='btn btn-outline-primary btn-lg'>Download Database</button>
</a>
{% endblock %}
