{% extends 'base.html' %}
{% from "_formhelper.html" import datify %}
{% block content %}
<h1>Stipend Queue | {{ stipends[-1]['id'] }} total</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Intention</th>
            <th>Requested By</th>
            <th>Requested Date</th>
            <th>Origin</th>
            <th>Accepted</th>
            <th>Stipend</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        {% for stipend in stipends %}
        <tr>
            <td>
                {% if stipend.intention|length >= 25 %} 
                    {{ stipend.intention[0:22] }}...
                {% else %}
                    {{ stipend.intention }}
                {% endif %}
            </td>
            <td>{{ stipend.requester }}</td>
            <td>{{ datify(stipend.req_date) }}</td>
            <td>{{ stipend.origin }}</td>
            <td>{{ datify(stipend.accepted) }}</td> 
            <td>{{ stipend.amount }}</td>
            <td>{{ stipend.masses }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
