{% macro input_field(field) %}
<div class="form-group">
    <br>
    <!--{{ field.label }}-->
    {{ field(class_="form-control-lg")|safe }}
    {% if field.errors %}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro check_field(field) %}
<div class="form-check">
    <br>
    {{ field.label(class_="form-check-label") }}
    {{ field(class_="form-check-input")|safe }}
    {% if field.errors %}
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro datify(longdate) %}
{{ longdate.strftime('%m-%d-%Y') }}
{% endmacro %}
