{% extends 'base.html' %}
{% from "_formhelper.html" import input_field, check_field, select_field %}
{% block content %}
<h1>Add Stipend</h1>
<form method="post">
    {{ input_field(form.intention) }}
    {{ input_field(form.requester) }}
    {{ select_field(form.origin) }}
    {{ input_field(form.req_date) }}
    {{ input_field(form.amount) }}
    {{ input_field(form.masses) }}
    <p>
        <input class="btn btn-primary" type="submit" value="Add to Database">
    </p>
</form>
{% endblock %}
