{% extends 'base.html' %}
{% from "_formhelper.html" import render_field, render_widget %}
{% block nav %}
    <a href="{{ url_for('stipends') }}">View Stipends</a>
{% endblock %}
{% block content %}
<div class="form_container">
    <h1>Add Stipend</h1>
    <hr>
    <form method="post">
        <dl>
            {{ render_field(form.intention) }}
            {{ render_field(form.requester) }}
            {{ render_field(form.origin) }}
            {{ render_field(form.request_date) }}
            {{ render_field(form.start) }}
            {{ render_field(form.amount) }}
            {{ render_field(form.masses) }}
        </dl>
        <p>
            <input type="submit" value="Stipend">
        </p>
    </form>
</div>
{% endblock %}
