{% extends 'base.html' %}
{% from "_formhelper.html" import datify %}
{% block nav %}
<a class="nav-link" href="{{ url_for('add_stipend') }}">Add Stipends</a>
{% endblock %}
{% block content %}
<div class="form_container">
    <h1>Stipends</h1>
    <hr>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Intention</th>
                <th>Requested By</th>
                <th>Requested Date</th>
                <th>Origin</th>
                <th>Accepted</th>
                <th>Stipend</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for stipend in stipends %}
            <tr>
                <td>{{ stipend.intention }}</td>
                <td>{{ stipend.requester }}</td>
                <td>{{ datify(stipend.req_date) }}</td>
                <td>{{ stipend.origin }}</td>
                <td>{{ datify(stipend.accepted) }}</td> 
                <td>{{ stipend.amount }}</td>
                <td>{{ stipend.masses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
