{% extends 'base.html' %}
{% block nav %}
<a href="{{ url_for('add_stipend') }}">Add Stipends</a>
{% endblock %}
{% block content %}
<div class="form_container">
    <h1>Stipends</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Intention</th>
                <th>By</th>
                <th>Date requested?</th>
                <th>Origin</th>
                <th>Accepted</th>
                <th>Stipend</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for stipend in stipends %}
            <tr>
                <td>{{ stipend.intention }}</td>
                <td>{{ stipend.requester }}</td>
                {% if stipend.request_date == False %}
                <td>&mdash;</td>
                {% else %}
                <td>{{ stipend.start }}</td>
                {% endif %}
                <td>{{ stipend.origin }}</td>
                <td>{{ stipend.accepted }}</td> 
                <td>{{ stipend.amount }}</td>
                <td>{{ stipend.masses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
